.body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #88c0b9;
}
.section {
  background-color: #88c0b9;
  padding: 50px 0;
}

.section h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
}

.skills-box,
.description-box {
  width: 100%;
  background-color: #88c0b9;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skills-box {
  text-align: center;
}

.skills-box h2,
.description-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skills-list li {
  padding: 10px 20px;
  background-color: #27b2a2;
  color: #fff;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.skills-list li:hover {
  background-color: #88c0b9;
  cursor: pointer;
}

.description-box p {
  font-size: 16px;
  line-height: 1.6;
}


.about {
  background-color: #88c0b9;
  padding: 50px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  width: 95%;
  margin: 20px auto;
  padding: 15px;
  background-color: #27b2a2;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.6;
}
.contact {
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #16865f;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #79aca6;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .navbar {
    width: 100%;
    background-color: #88c0b9;
    padding: 10px;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: o;
    padding: 0;
  }

  .navbar li {
    margin-right: 10px;
  }

  .navbar a {
    font-size: 16px;
    padding: 8px 16px;
  }

  .banner h1 {
    font-size: 18px;
    padding: 8px 16px;
  }

  .section h2 {
    font-size: 22px;
  }

  .skills li {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .project {
    padding: 10px;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .project h3 {
    font-size: 16px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  .navbar {
    width: 100%;
    background-color: #88c0b9;
    padding: 10px;
  }

  .navbar ul {
   flex-direction: column;
   align-items: flex-start;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
 
  .navbar a {
    font-size: 14px;
    padding: 8px 12px;
  }

  .banner-content{
    flex-direction: column;
    align-items: center;
  }

  .text-content{
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-photo{
    margin-top:20px;
    margin-bottom: 20px;
  }

  .profile-photo img{
    width: 200px;
    height: 200px;
  }
  .banner h1 {
    font-size: 24px;
    padding: 8px 12px;
  }

  .banner p{
    margin-top: 0;
    font-size: 14px;
  }

  .section h2 {
    font-size: 18px;
  }

  .skills li {
    margin: 0 5px;
    padding: 4px 8px;
    font-size: 12px;
  }

  .project {
    padding: 8px;
    flex: 1 1 100%;
    max-width: 100%;
  }

  .project h3 {
    font-size: 14px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: calc(100% - 16px);
  }
}
