body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #a8b1b7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #87dabc;
  color: #fff;
  padding: 15px 0;
  right: 0;
  width: 200px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #1a1818;
  font-size: 25px;
  font-weight: bold;
}

.banner {
  background-size: cover;
  color: #181313;
  text-align: center;
  padding: 200px 0;
  
}

.banner h1 {
  font-size: 100px;
}

.section {
  background-color: #fff;
  padding: 50px 0;
}

.section h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
}

.skills li:hover{
  background-color: #0056b3;
  cursor: pointer;
}
/*About */
.about {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 24px;
}
.projects .project:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact {
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #16865f;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}
