.body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #eeefe7;
}

.banner {
  background-color: #eeefe7;
  background-size: cover;
  color: #181313;
  text-align: center;
  padding: 100px 50px;
}

.banner-content {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-photo {
  margin-top: -70px;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.text-content {
  flex-grow: 1;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #e3e7bf;
  color: #fff;
  padding: 20px 30px 15px 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right:20px ;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  padding-left: -20px;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 1000;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #101010;
  background-color: #97a098;
  border-radius: 50%;
  transform: translateY(-2px);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.banner h1 {
  margin-top: 0;
  font-size: 80px;
  text-decoration: none;
  color: #134215;
  font-weight: 600;
  padding: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}


/*.banner h1:hover {
  color: #FFFFFF;
  background-color: #ccdbcd;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}*/

.section {
  background-color: #fff;
  padding: 50px 0;
}

.section h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills li {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
  break-inside: avoid;
}

.skills li:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-box,
.description-box {
  width: 45%;
}

.skills-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.description-box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills li {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
  break-inside: avoid;
}

.skills li:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.about {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.6;
}



.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.project {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 24px;
}

.projects .project:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact {
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #16865f;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}

/* Responsive CSS style */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .navbar {
    width: 100%;
    background-color: #e3e7bf;
    padding: 10px;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: o;
    padding: 0;
  }

  .navbar li {
    margin-right: 10px;
  }

  .navbar a {
    font-size: 16px;
    padding: 8px 16px;
  }

  .banner h1 {
    font-size: 18px;
    padding: 8px 16px;
  }

  .section h2 {
    font-size: 22px;
  }

  .skills li {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .project {
    padding: 10px;
  }

  .project h3 {
    font-size: 16px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: calc(100% - 20px);
  }
}

/* For small phones */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  .navbar {
    width: 100%;
    background-color: #e3e7bf;
    padding: 10px;
  }

  .navbar ul {
   flex-direction: column;
   align-items: flex-start;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
 
  .navbar a {
    font-size: 14px;
    padding: 8px 12px;
  }

  .banner-content{
    flex-direction: column;
    align-items: center;
  }

  .text-content{
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-photo{
    margin-top:20px;
    margin-bottom: 20px;
  }

  .profile-photo img{
    width: 200px;
    height: 200px;
  }
  .banner h1 {
    font-size: 24px;
    padding: 8px 12px;
  }

  .banner p{
    margin-top: 0;
    font-size: 14px;
  }

  .section h2 {
    font-size: 18px;
  }

  .skills li {
    margin: 0 5px;
    padding: 4px 8px;
    font-size: 12px;
  }

  .project {
    padding: 8px;
  }

  .project h3 {
    font-size: 14px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: calc(100% - 16px);
  }
}
